header{
display: flex;
 justify-content: space-around;
margin-top: 76px;

}
h1{
    text-align: center;
    font-size: 60px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.qizil{
    width: 458px;
    height: 352px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ota{
    display: flex;
    justify-content: space-around;
}
h3{
    color: white;
    font-size: 36px;
}
footer{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 50px;
}